---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

.linkedin-icon {
	color: #0e76a8
}

.twitter-icon {
	color: #00acee
}

.github-icon {
	color: #211F1F
}

.stack-overflow-icon {
	color: #ef8236
}

.medium-icon {
	color: #313335
}

.home-icon {
	color: #1C9963
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;
